body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
}